<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.huanghong.testWEB.dao.UserDao">
    <sql id="allcolumn">
        id,name
    </sql>

    <sql id="allcolumn2">
        #{id},#{name}
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="cn.huanghong.testWEB.entity.UserEntity">
        insert into t_user
       (<include refid="allcolumn"></include>)
        values
        (<include refid="allcolumn2"></include>)
    </insert>

    <resultMap id="userResultMap" type="cn.huanghong.testWEB.entity.UserEntity">
        <id property="id" column="id"  />
        <result property="name" column="name"  />
        <collection property="roles" column="id" select="cn.huanghong.testWEB.dao.RoleDao.getlistByuserid">
        </collection>
    </resultMap>

    <select id="getlist" resultMap="userResultMap">
        select *
        from t_user
    </select>

    <select id="getuser" resultMap="userResultMap">
        select *
        from t_user
        where id = #{id}
    </select>

    <insert id="insertbatch" parameterType="list">
        insert into t_user
        (name)
        values
        <foreach collection="list" separator="," item="i">
            (#{i.name})
        </foreach>
    </insert>
</mapper>